[Desktop Entry]
Name=J'SOS Desktop
Comment=JavaScript Operating Shell
Exec=/usr/local/bin/jsos-session
TryExec=/usr/local/bin/jsos-session
Type=Application